@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kulim+Park:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kulim+Park:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600;1,700&family=Long+Cang&display=swap');

* {
  box-sizing: border-box;
}

.kulim-park-extralight {
    font-family: "Kulim Park", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .kulim-park-light {
    font-family: "Kulim Park", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .kulim-park-regular {
    font-family: "Kulim Park", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .kulim-park-semibold {
    font-family: "Kulim Park", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .kulim-park-bold {
    font-family: "Kulim Park", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .kulim-park-extralight-italic {
    font-family: "Kulim Park", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .kulim-park-light-italic {
    font-family: "Kulim Park", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .kulim-park-regular-italic {
    font-family: "Kulim Park", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .kulim-park-semibold-italic {
    font-family: "Kulim Park", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .kulim-park-bold-italic {
    font-family: "Kulim Park", sans-serif;
    font-weight: 700;
    font-style: italic;
  }

  .long-cang-regular {
    font-family: "Long Cang", cursive;
    font-weight: 400;
    font-style: normal;
  }

  #timeline {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.timeline-item {
  display: flex;
  align-items: center; /* Center bullets and text vertically */
}

.timeline-item .bullet-first {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #2e6b6b;
  margin-right: 15px;
  /* Remove margin-top to prevent misalignment */
}

.timeline-item .bullet {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #2e6b6b;
  margin-right: 15px;
  /* Remove margin-top to prevent misalignment */
}

.timeline-item .content {
    display: flex;
    flex-direction: column;
}

#contact-info {
  margin-top: 20px; /* Adjust as necessary */
}

#email-info a {
  color: #ffffff; /* Or any color that fits your design */
}

#social-media-links img {
  transition: transform 0.3s ease;
}

#social-media-links img:hover {
  transform: scale(1.2);
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}