@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kulim+Park:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600;1,700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.kulim-park-extralight {
    font-family: "Kulim Park", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .kulim-park-light {
    font-family: "Kulim Park", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .kulim-park-regular {
    font-family: "Kulim Park", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .kulim-park-semibold {
    font-family: "Kulim Park", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .kulim-park-bold {
    font-family: "Kulim Park", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .kulim-park-extralight-italic {
    font-family: "Kulim Park", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .kulim-park-light-italic {
    font-family: "Kulim Park", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .kulim-park-regular-italic {
    font-family: "Kulim Park", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .kulim-park-semibold-italic {
    font-family: "Kulim Park", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .kulim-park-bold-italic {
    font-family: "Kulim Park", sans-serif;
    font-weight: 700;
    font-style: italic;
  }


  #timeline {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.timeline-item {
    display: flex;
    align-items: flex-start;
}

.timeline-item .bullet {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #2e6b6b;
    margin-right: 15px;
    margin-top: 5px;
}

.timeline-item .content {
    display: flex;
    flex-direction: column;
}

.timeline-item .content .title {
    font-weight: bold;
    font-size: 1.1em;
    color: #2e6b6b;
    margin-bottom: 5px;
}

.timeline-item .content .position {
    font-size: 0.95em;
    color: #385c5c;
}
  